@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&family=Zen+Old+Mincho:wght@400;700&display=swap');

/* Variáveis */
:root {
  --cor-prim: #3b3b3b;
  --cor-prim-clara: #c2c2c2;
  --cor-fundo: #f0efef;
  --cor-fundo-clara: #1818183;
  --cor-texto: #000000;
  --fonte-texto: 'Zen Old Mincho', serif;;
  --fonte-titulo: 'Zen Antique', serif;;
}
/*************************************************/
* { 
  font-family: var(--fonte-texto);
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  color: var(--cor-texto);
}
/*************************************************/
html {
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--cor-prim);
}
/************************************************/
header{
  display: flex;
  background-color: var(--cor-prim);
  flex-wrap: wrap;
  min-height: 95px; 
  justify-content: center;
  /*align-items: center;*/
  border-bottom: 0.5px solid #f3edf0;
  box-shadow: 0 0 2.8px #f3edf0;
}
/* Logo temporário*/
#logo{
  height: 80px;
  background-color: transparent;
  box-sizing: border-box;
  margin: 9px;
  /*box-shadow: 0 0 5px rgb(236, 157, 232);*/
  padding: 0.5px 0.5px 0.5px 0.5px;
  vertical-align: top;
  display: inline-block;
  vertical-align: top;
  transition: height 1s;
  left:0;
  position:absolute;
}
/**/
nav{
  background-color: var(--cor-prim);
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}
ul{
  list-style: none; 
  display: flex; 
  font-size: 20px;
}
ul li{
  height: 10px;
  margin: 0 40px;
  padding-top: 0.5px;
}
ul li a{
  /*background-color: transparent;*/
  font-family: var(--fonte-titulo);
  display: flex;
  /*height: 60px;*/
  font-size: 18px;
  align-items: center;
  color: rgb(229, 240, 75); 
  text-decoration: none; 
  transition: 300ms;
  padding: 3 5px;
  z-index: 1;
}
a:visited {
  color: #faf896;
}
a:hover {
  color: rgb(149, 215, 235);
}
a:hover {
  filter: brightness(1.2);
}
/***********************************************/
main{
  background-color: var(--cor-fundo);
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}
/**/
#sec1{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--cor-fundo-clara);
  justify-content: center;  
  align-items: center; 
  border: 1px solid #80dde9;
  margin: 5px;
  min-height: 100px;
  width: 70%;
  box-shadow: 0 0 2.8px rgb(138, 228, 240);
  padding: 10 1px;
  border-radius: 0.5%;
}
#sec1 article{
  flex-direction: column;
}
#sec1 article h1{
  text-align: left;
  width: 100%;
  color: var(--cor-texto);
  font-family: var(--fonte-titulo);
  font-style: italic;
  font-size: 1.5rem;
  padding: 12px;
}
/*Estilo da página Comunidade*******************************************************/
#comunidade-h1{
  text-align: center;
  width: 100%;
  color: var(--cor-texto);
  font-family: var(--fonte-titulo);
  font-style: italic;
  font-size: 1.5rem;
  padding: 12px;
}
#comunidade-icon{
  display: block;
  margin-left: 40%;
  margin-right: -50%;
  border: 5px solid transparent;
}
.comunidade{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--cor-fundo-clara);
  justify-content: center;  
  align-items: center; 
  border: 1px solid #ADE9F1;
  margin: 5px;
  min-height: 100px;
  width: 80%;
  box-shadow: 0 0 2.8px rgb(184, 227, 233);
  border-radius: 0.5%;
}
/*Estilo da página Comunidade ^ ****************************************************/
#p{
  font-family: var(--fonte-texto);
  color: var(--cor-texto);
  padding: 12px;
}
/* Provisório */
.art-1{
  height: 200px;
  width: 300px;
  padding: 15px;
}
/* Provisório */
.art-2{
  height: 200px;
  margin: 0 50px; /* 0 topo, fundo; 10px esquerda e direita */
  /*display: flex;*/
}
/**/
aside{
  align-items: stretch;
  background-color: transparent;
  width: 75px;
  /*margin: 20px;*/
  display: flex;
  margin: 30px;
  min-height: 56.5rem;
  width: 20%;
  padding: 10px 10px;
}
aside article{
  flex-direction: column;
}
/* Provisório */
.art{
  height: 185px;
  width: 230px;
  margin: 5px;
}
/****************************************************************/
footer{
  display: flex;
  min-height: 1rem;
  flex-wrap: wrap;
  font-family: var(--fonte-texto);
  font-size: 15px;
}
#icon{
  align-items: right;
  height: 25px;
}
#sec2{
  color: var(--cor-prim-clara); 
  text-decoration: none; 
  transition: 300ms;
}
.Info{
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
  right: 1rem;
  position:absolute;
  justify-content: left;
  background-color: transparent;
  box-sizing: border-box;
  margin: 30px;
}
.Social{
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
  left: 0;
  position:absolute;
  justify-content: left;
  background-color: transparent;
  margin: 15px;
}
address{
  color:var(--cor-texto); 
  text-decoration: none; 
  transition: 300ms;
  vertical-align: top;
  display: inline-block;
  left: 6rem;
  position:absolute;
  justify-content: left;
  background-color: transparent;
}
#Add{
  font-family: var(--fonte-texto);
  color: var(--cor-prim-clara);
  padding: 12px;
}
/*********/
/* Regras para tela com largura de até 600px */
@media screen and (max-width: 600px) {
  main {
    /* muda a direção dos filhos para coluna (vertical) */
    flex-direction: column;
  }
  /* section e aside ficam com 100% de largura */
  section, anside {
    width: 100%;
  }
}